<h1>Nghị lực sống</h1>

<p>Chào <%= @user.name %>,</p>

<p>
Chào mừng bạn khi bạn vừa đăng kí tài khoản tại Nghị Lực Sống! Để hoàn tất bước đăng kí vui lòng click vào link phía dưới:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>