<h1>Website quản lý thu nhập tài chính</h1>

<p>Chào <%= @user.name %>,</p>

<p>
Chào mừng bạn đến với Website quản lý thu nhập tài chính! Hãy chọn vào đường dẫn bên dưới để xác thực tài khỏan của bạn:
</p>

<%= link_to "Kích Hoạt", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>