<div class="center jumbotron">
  <h1>Welcome to our website!</h1>

  <h2>
    This is homepage of online sales management website
    .
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-info" %>
</div>
<div class="center">
<%= link_to image_tag("online.jpg",class: "img-responsive", alt: "Rails logo", width: "1120", height: "550"),
"https://www.nytimes.com/section/education" %>
</div>