<div class="center jumbotron">
  <h1>Chào mừng đến với website</h1>

  <h2>
    Đây là trang chính của ứng dụng đơn giản cho học viên nhập các thông tin, áp dụng
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    .
  </h2>

  <%= link_to "Đăng kí ngay!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("cohota.png", alt: "Rails logo"),
            'http://localhost:3000/' %>
</div>


