<div class="center jumbotron">
  <h1 style = "font-family: cursive;">Chào mừng bạn đến với website của chúng tôi!</h1>

  <h2>
    Đây là nơi quản lý thu nhập tài chính mỗi ngày. Nếu bạn chưa có tài khoản, hãy chọn vào nút bên dưới.
  </h2>

  <%= link_to "Đăng Ký!", signup_path, {:style=>'font-family:cursive', :class => "css_class",class: "btn btn-info"} %>
</div>
<div class="center">
<%= link_to image_tag("online.jpg",class: "img-responsive", alt: "Rails logo", width: "1120", height: "550"),
"https://onlinesaleswebsite.herokuapp.com/" %>
</div>