/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container-fluid {
   padding-left: 0px;
   padding-right: 0px;
 }
 #logo {
    float: left;
    width: 100px;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    }

#logo:hover {
    color: #555;
    text-decoration: none;
}
.header-logo {
  position: absolute;
  left: 40px;
  top: 10px;
}
.header-name {
  position: absolute;
  left: 80px;
  top: 10px;
}
.header-menu {
  margin-left: 400px;
  left: 700px;
  top: 10px;
}
body {
    padding-top: 60px;
  }
  
section {
    overflow: auto;
}
  
textarea {
    resize: vertical;
}
  
.center {
    text-align: center;
}
  
.center h1 {
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
h1 {
    font-family: cursive;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}
h2 {
    font-family: cursive;
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
    font-family: Arial, sans-serif;
}
  
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* footer */

footer {
    margin-top:0px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
  
footer a {
    color: #555;
}
  
footer a:hover {
    color: #222;
}
  
footer small {
    float: left;
}
  
footer ul {
    float: right;
    list-style: none;
}
  
footer ul li {
    float: left;
    margin-left: 15px;
}
.user_center_left {
    float: left;
    width: 550px;
}
.user_center_right {
    float: right;
    width: 550px;
}
.user_center {
    height: 250px;
}
/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}
  
input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}
.user_center h3 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #777;
}
table {
    width: 100%;
  }
  
th {
    text-align: center;
    border: 1px solid black;
    height: 50px;
}
td {
  text-align: center;
  border: 1px solid black;
}
/* Users index */

.users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
    height: 500px;
}
.users li{
    font-weight: bold;
    font-size: larger;
}
/* sidebar */

aside {
    section.user_info {
      margin-top: 20px;

    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
}
  
#session_remember_me {
    width: auto;
    margin-left: 0;
}
.home-login {
  height: 100%;
}
.home-login img {
  margin-left: 470px;
  height: 100%;
}
.container1 {
  width: 100%;
}
.container-login {
  position: absolute;
  width: 750px;
  margin-left: 0px;
  margin-right: 0px;
  top: 120px;
  left: -90px;
  z-index: 1;

}
.container-row-login {
  width: 450px;
  padding-left: 30px;
  border: 3px solid #ccd9ff;
  border-radius: 10px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.col-md-6 .offset-md-3{
  width: 80%;
  margin-left: 200px;
}
.col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
.home-signup {
  height: 100%;
}
.home-signup img {
  margin-left: 470px;
  height: 100%;
}
.container-signup {
  position: absolute;
  width: 600px;
  margin-left: 0px;
  margin-right: 0px;
  top: 100px;
  left: -20px;
  z-index: 1;

}
.container-row-signup {
  width: 400px;
  padding-left: 10px;
  border: 3px solid #ccd9ff;
  border-radius: 10px;
  margin-right: 25px;
  padding-right: 1px;
  padding-bottom: 20px;
}
.col-md-10 .offset-md-2{
  width: 90%;
  margin-left: 0px;
}
.col-md-10 {
  margin-left: 35px;
}
.home1 img {
  width: 50%;
  height: 100%;
}
.home2 img {
  margin-left: 100px;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.home2 {
  position: absolute;
  top: 220px;
  left: 290px;
  z-index: 1;
}
.home3 img {
  margin-left: 100px;
  width: 50%;
  height: 100%;
  z-index: 1;
}
.home3 {
  position: absolute;
  top: 290px;
  left: 20px;
  z-index: 1;
}
#container-home h2{
  margin-top: 40%;
  font-size: 2.5em;
  color:  #6666ff;
  font-family: monospace;
  text-align: left;
  font-weight: bold;
}
#container-home a{
  font-weight: bold;
  font-size: 1em;
}
.container-home h2{
  font-size: 2.5em;
  color:  #6666ff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: bold;
}
.container-home a{
  font-size: 1em;
  margin-left: 180px;
  width: 200px;
  font-weight: bold;
}
.container-home{
  position: absolute;
  top: 290px;
  left: 900px;
  z-index: 1;
}
#container-home1 {
  margin-top: 5%;
}
#container-home1-text1 h2{
  font-size: 2em;
}
#container-home2 {
}
.container-home3 {
  position: absolute;
  top: 1050px;
  left: 410px;
  z-index: 1;
}
.container-home3 img {
  width: 65%;
}
.container-home4 {
  position: absolute;
  top: 1100px;
  left: 500px;
  z-index: 1;
}
.container-home4-text1 {
  height: 40px;
  border-bottom: 4px dashed silver;
}
.container-home4-text1 h2 {
  text-align: left;
  font-size: 1.5em;
}
.container-home4-text2 {
  margin-top: 50px;
  height: 40px;
  border-bottom: 4px dashed silver;
}
.container-home4-text2 h2 {
  text-align: left;
  font-size: 1.5em;
}
.container-home4-text3 {
  margin-top: 50px;
  height: 40px;
  border-bottom: 4px dashed silver;
}
.container-home4-text3 h2 {
  text-align: left;
  font-size: 1.5em;
}
.container-home4-text4 {
  margin-top: 50px;
  height: 40px;
  border-bottom: 4px dashed silver;
}
.container-home4-text4 h2 {
  text-align: left;
  font-size: 1.5em;
}
#container-home5 h2{
  border-bottom: 2px solid #ff9900;
}
#container-home6 img {
  height: 127.4px;
  margin-left: 230px;
}
#container-home7 img {
  height: 127.4px;
  margin-right: 50px;
}
.container-home8 {
  position: absolute;
  top: 1715px;
  left: 500px;
  z-index: 1;
  width: 30px;
  height: 10px;
}
.container-home9 {
  position: absolute;
  top: 1715px;
  left: 830px;
  z-index: 1;
  width: 30px;
  height: 10px;
}
.container-home10 {
  position: absolute;
  top: 1700px;
  left: 540px;
  z-index: 1;
  width: 30px;
  height: 10px;
}
.container-home11 {
  position: absolute;
  top: 1700px;
  left: 870px;
  z-index: 1;
  width: 100px;
  height: 10px;
}
.container-home12 {
  position: absolute;
  top: 1740px;
  left: 510px;
  z-index: 1;
  width: 30px;
  height: 10px;
}
.container-home12 h2{
  font-size: 1.5em;
}
.container-home13 {
  position: absolute;
  top: 1740px;
  left: 760px;
  z-index: 1;
  width: 400px;
  height: 10px;
}
.container-home13 h2{
  font-size: 1.5em;
  text-align: left;
}
.container-home14{
  position: absolute;
  top: 650px;
  left: 900px;
  z-index: 1;
}
.container-home15{
  position: absolute;
  top: 930px;
  left: 0px;
  z-index: 1;
}
.container-home15 img{
  height: 120px;
}
.container-home16{
  position: absolute;
  top: 1500px;
  left: 1280px;
  z-index: 1;
}
.container-home16 img{
  height: 120px;
}
.container-user {
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 1;
  background-color: white;
  width: 450px;
  height: 400px;
  border-radius: 10px;
}
.user_center {
  margin-top: 0px;
  margin-left: 0px;
}
.user-choosen {
  width: 500px;
  margin-left: 0px;
  padding-left: 0px;
}
#btn1 {
  font-size: 1.5em;
  width: 223px;
  height: 50px;
}
#btn2 {
  font-size: 1.5em;
  width: 223px;
  height: 50px;
}
#carousel-report {
  margin-left: 90px;
}
.carousel-inner {
  width: 90%;
  margin-top: 20px;
  margin-left: 30px;
}
.carousel-item button{
  margin-left: 50px;
}
.edit-container {
  background-color: #f2f2f2;
  margin-top: -20px;
  height: 680px;
}
.edit-container h1 {
  margin-left: 300px;
  padding-top: 30px;
  text-align: left;
  width: 850px;
  height: 100px;
  border-bottom: 2px dashed grey;
}
.navbar {
  margin-bottom: 0px;
}
.home-edit {
  position: absolute;
  top: 250px;
  left: 450px;
}
.home-edit-profile {
  position: absolute;
  width: 900px;
  top: 248px;
  left: 600px;
}
.dropdown-menu li{
  height: 25px;
  width: 160px;
}
.divider li{
  width: 100px;
}
.jumbotron {
  margin-bottom: 0px;
}
.pagination {
  margin-top: 0px;
  padding-left: 20px;
}
.profile-container1 {
  float: left;
}
.dropdown-menu {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1025px){
  .header-menu {
    margin-left: 200px;
  }
  .container-home {
    left:680px;
    top: 200px;
    width: 400px;
  }
  .container-home a{
    margin-left: 100px;
  }
  .container-home1 {
    width: 100%;
    margin-left:80px;
  }
  .container-home2 {
    margin-left:400px;
    width: 440px;
    height: 300px;
  }
  .container-home3 {
    top: 860px;
    left: 380px;
  }
  .container-home4 {
    top: 850px;
    left: 350px;
}
}
@media screen and (max-width: 800px){
  #logo {
    width: 300px;
    margin-right: 300px;
  }
  .col-sm {
    width: 25%;
  }
  .navbar-toggler {
    float: right;
    margin-top: 15px;
    margin-right: 30px;
  }
  #navbarSupportedContent {
    margin-top: 50px;
  }
  .container-home15 img {
    width: 0;
  }
}
@media screen and (max-width: 450px){
  #logo1 {
    position: absolute;
    width: 40px;
    margin-right: 0px;
    left: 8%;
  }
  #logo {
    margin-left: 0px;
  }
  .navbar-toggler {
    float: right;
    margin-top: 5px;
    margin-right: 0px;
  }
  #navbarSupportedContent {
    float: right;
    margin-left: 50%;
  }
  .dropdown-menu {
    width: 200px;
    height: 200px;
  }
  #img-header img{
    width: 0px;
  }
  #container-home h2 {
    text-align: center;
  }
  
}
@media screen and (max-width: 400px){

}