<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/" style="color: #8080ff;">Tiuh Website</a>
    by <a href="http://www.michaelhartl.com/" style="color: #8080ff;">Do Duc Trung</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/" style="color: #8080ff;">News</a></li>
    </ul>
  </nav>
</footer>