<footer class="footer">
  <small>
    <a href="https://onlinesalesweb.herokuapp.com/" style="color: #9999ff; font-family: cursive;">Website quản lý thu nhập tài chính</a>
    bởi <a href="https://cohota.com/" style="color: #9999ff; font-weight: bold;">Cohota</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://tiki.vn/" style="color: #9999ff; font-weight: bold;">Tiki</a></li>
      <li><a href="https://www.lazada.vn/" style="color: #9999ff; font-weight: bold;">Lazada</a></li>
      <li><a href="https://shopee.vn/" style="color: #9999ff; font-weight: bold;">Shopee</a></li>
    </ul>
  </nav>
</footer>
