<footer class="footer">
  <small>
    <a href="https://onlinesaleswebsite.herokuapp.com/" style="color: #8080ff;">Online Sales Management Website</a>
    by <a href="https://onlinesaleswebsite.herokuapp.com/" style="color: #8080ff;">Cohota</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://shopee.vn/" style="color: #8080ff;">News</a></li>
    </ul>
  </nav>
</footer>